Repository AlexiWolf/wolf_engine, pull requests merged in 2023-09, with the labels that each got.

#117 Remove the Existing Window API
  wolf_engine_window/src/lib.rs
  wolf_engine_window/src/window.rs
  wolf_engine_window/src/window_dimensions.rs
  wolf_engine_window/src/window_id.rs
  wolf_engine_window/src/window_settings.rs
Labels: refactor, change-type: major, api:window

#116 Feature: User-Defined Events
  wolf_engine_core/src/context.rs
  wolf_engine_core/src/event_loop.rs
  wolf_engine_core/src/events/engine_events.rs
  wolf_engine_core/src/lib.rs
Labels: draft, feature, api: core

#119 Feature: User-Defined Events (Part 2)
  examples/core_engine_basics.rs
  wolf_engine_core/src/context.rs
  wolf_engine_core/src/event_loop.rs
  wolf_engine_core/src/events/engine_events.rs
  wolf_engine_core/src/lib.rs
Labels: feature, change-type: major, api: core
